@import "tailwindcss";

:root {
  --background: #F9F9FB;
  --foreground: #F9F9FB;
  --color-primary: #8958FE;
  --color-primary-dark: #030D28;
  --color-secondary: #2E3138;
  --color-surface: #1C253E;
  --color-surface-light: #2E3138;
  --color-accent: #E7E7EF;
  --text-main: #F9F9FB;
  --text-light: #FFFFFF;
  
  /* Additional utility variables */
  --primary: var(--color-primary);
  --secondary: var(--color-secondary);
  --accent: var(--color-accent);
  --muted: var(--color-surface-light);
  --card-bg: var(--color-surface);
  --card-highlight: var(--color-primary);
  --card-muted: var(--color-surface-light);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-primary-dark);
    --foreground: var(--text-main);
  }
}

body {
  background:#F7F8FA;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  zoom:90%;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
}